* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: block;
    width: 138px;
    height: 71px;
    background-color: #dbdbdb;
}

.clear {
    clear: both;
}

.visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-1 {
    max-width: 1160px;
}